<div class="d-flex flex-wrap justify-content-between">
    <div class="card m-5 article-background" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-light mb-5">Special title treatment</h5>
            <a href="#" class="btn btn-primary mt-5">Go to Article</a>
        </div>
    </div>
</div>