@font-face {
    font-family: 'Dancing';
    src: url('./webfonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'KaushanScript';
    src: url('./webfonts/KaushanScript-Regular.ttf');
}

.nav-link {
    color: white !important;
    font-family: Dancing;
    font-size: 20px;
}

.headerTitle {
    font-family: KaushanScript;
}

/* Home */
.bg-cover {
    background-size: cover !important;
    height: 50vh;
}

/* Articles */
.article-background {
    background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}

/* login - signup */
.login-bg {
    background-image: url('./images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.form-title {
    font-family: KaushanScript;
}

.my-7 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.form-bg {
    background-color: #ffffff14;
}

.w-35 {
    width: 35%;
}