/* Home */
.bg-cover {
    background-size: cover !important;
    height: 50vh;
}

/* Articles */
.article-background {
    background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}